.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.text-center{
  text-align: center;
}

input[type='text']{
  padding:4px;
  width:50%;
  height:30px;
  border-radius:5px;
  border:#ccc solid 1px;
}
